[project]
	description = practica isrhe
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Javier Lopez Fernandez (javierlopezfernandez)
[access "refs/for/refs/*"]
	read = group user/Javier Lopez Fernandez (javierlopezfernandez)
	push = group user/Javier Lopez Fernandez (javierlopezfernandez)
	label-Code-Review = -2..+2 group user/Javier Lopez Fernandez (javierlopezfernandez)
	label-Verified = -1..+1 group user/Javier Lopez Fernandez (javierlopezfernandez)
	rebase = group user/Javier Lopez Fernandez (javierlopezfernandez)
	removeReviewer = group user/Javier Lopez Fernandez (javierlopezfernandez)
	submit = group user/Javier Lopez Fernandez (javierlopezfernandez)
[access "refs/heads/*"]
	read = group user/Javier Lopez Fernandez (javierlopezfernandez)
	create = group user/Javier Lopez Fernandez (javierlopezfernandez)
	push = +force group user/Javier Lopez Fernandez (javierlopezfernandez)
	pushMerge = group user/Javier Lopez Fernandez (javierlopezfernandez)
[access "refs/tags/*"]
	push = +force group user/Javier Lopez Fernandez (javierlopezfernandez)
	pushTag = group user/Javier Lopez Fernandez (javierlopezfernandez)
	pushSignedTag = group user/Javier Lopez Fernandez (javierlopezfernandez)
